body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
main{
    margin: 50px 0 0 100px;
}
.center_title{
    text-align: center;
}
.box{
    display: inline;
}
.box div{
    display: inline-block;
    margin: 0 50px 20px 0;
}
img{
    height: 400px;
    width: 350px;
}
.box_footer{
    background-color: rgba(184, 177, 177, 0.701);
    width: 100%;
    height: 200px;
}
.footer_text{
    margin-left: 100px;
    color: grey;
}